.sidebar{
    height: 100%;
    background-color: rgb(35, 41, 57);
    font-size: .8rem;
    text-align: start;
    width: 200px;
}

.sidebar .card{
    background-color: inherit;
    color: #cacaca;
}

.sidebar li{
    margin-top: 10px;
    margin-bottom: 18px;
    text-align: start;
    cursor: pointer;
}

.card-body{
    padding: 5px !important;
}

.card-header{
    cursor: pointer;
}


.sidebar-comp-title{
    color: #949494;
    margin: 20px;
    font-weight: 800;
    font-size: .7rem;
    margin-left: 7px;
}