.App {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #f3f3f3;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.main-container{
  width: 100%;
  background-color: #f3f3f3;
  z-index: 100;
}

.sidebar-container{
  transition: width .5s;
}
